body {
  background-image: url("img/redcarpet.jpg");
  color:white;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
legend {
  margin: 1rem;
  text-align: center;
}
form {
  text-align: center;
}
#movies { 
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#query {
  text-align: center;
  margin: 2.5rem ;
}
img { 
  width: 33%;
}
select, button, input { 
  width: 5rem;
}
label {
  margin: auto 1rem;
}
div {
  margin-bottom: 10px;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}